package views

templ Index() {
	@Layout(true) {
		<div style="width: 100%; height: calc(100vh - 64px);">
			<game-component></game-component>
		</div>
		<div style="display: none;">
			<!-- Hidden img to preload the sky image -->
			<img id="skyImage" src="https://assetstorev1-prd-cdn.unity3d.com/package-screenshot/2fe480c2-6fb9-43da-86cf-bc843b7d7761_scaled.jpg" crossorigin="anonymous" />
		</div>
	}
}
